{% extends 'stories/_Master.html' %}
{% load static %}
{% block title_tab %}{{ category_name }}{% endblock %}
{% block main_content %}

<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">{{ category_name }}</div>
                </div>

                {% for story in stories_list %}
                <div class="row pb-4">
                    <div class="col-md-5">
                        <a class="nav-link" href="{% url 'story' story.id %}">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="{{ story.image.url}}" alt="{{ story.name }}"/></div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-7 animate-box">
                        <a href="{% url 'story' story.id %}" class="fh5co_magna py-2"> {{ story.name }} </a> <a class="fh5co_mini_time py-3"> {{ story.author }} -
                        {{ story.public_day }}</a>
                        <div class="fh5co_consectetur"> {{ story.summary | truncatewords:50}}
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">Newest Stories </div>
                </div>

                {% for story in newest_story %}
                <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <a class="" href="{% url 'story' story.id %}">
                        <img src="{{ story.image.url }}" alt="{{ story.name }}" class="fh5co_most_trading"/>
                        </a>
                    </div>
                    <div class="col-7 paddding">
                        <a class="nav-link" href="{% url 'story' story.id %}">
                        <div class="most_fh5co_treding_font"> {{ story.name }} </div>
                        <div class="most_fh5co_treding_font_123"> {{ story.public_day }}</div>
                        </a>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>

        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">{{ category_name }}
                </div>
                <div class="row mx-0">
                    <div class="col-12 text-center pb-4 pt-4">
                    {% if stories_list.has_other_pages %}
                        {% if stories_list.has_previous %}
                            <a href="?page={{ stories_list.previous_page_number }}" class="btn_mange_pagging">
                                <i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp; Previous
                            </a>
                        {% else %}
                            <div class="disable"><span></span></div>
                        {% endif %}

                        {% for i in stories.paginator.page_range %}
                            {% if stories_list.number == i %}
                                <a href="?page={{ i }}" class="btn_pagging active">{{ i }}</a>
                            {% else %}
                                <a href="?page={{ i }}" class="btn_pagging ">{{ i }}</a>
                            {% endif %}
                        {% endfor %}
                        
                        {% if stories_list.has_next %}
                            <a href="?page={{ stories_list.next_page_number }}" class="btn_pagging ">Next </a>
                            <i class="fa fa-long-arrow-right"></i>&nbsp;&nbsp;</a>
                        {% else %}
                            <div class="disable"><span></span></div>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}