{% extends 'stories/_Master.html' %}
{% load static %}
{% block title_tab %}Story{% endblock %}
{% block main_content %}

<div class="single">
    <div id="fh5co-title-box" style="background-image: url({{ content.image.url }}); background-position: 50% 90.5px;" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="page-title">
            <img src="{{ content.image.url }}" alt="{{ content.name }}">
            <span>{{ content.public_day }}</span>
            <h2>{{ content.name }}</h2>
        </div>
    </div>
    <div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
        <div class="container paddding">
            <div class="row mx-0">
                <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                   {{ content.content | safe }}
                </div>

                <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                    <div>
                        <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">Most Popular</div>
                    </div>
                    {% for story in stories_4%}
                    <a class="nav-link" href="{% url 'story' story.id %}">
                        <div class="row pb-3">
                            <div class="col-5 align-self-center">
                                <img src="{{ story.image.url }}" alt="{{ story.name }}" class="fh5co_most_trading"/>
                            </div>
                            <div class="col-7 paddding">
                                <div class="most_fh5co_treding_font"> {{ story.name }}</div>
                                <div class="most_fh5co_treding_font_123"> {{ story.public_day }}</div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}